# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/Docker/Titsuite2_0-0.0.1-SNAPSHOT.jar
../terraform-gke/.terraform
../terraform-gke/.terraform.lock.hcl
../terraform-gke/.terraform.tfstate.lock.info
../terraform-gke/account.json
../terraform-gke/terraform.tfstate
../terraform-gke/terraform.tfstate.backup
../Titsuite2.0-project/target
